@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    background-color: #bac0c0 !important;
      font-family: "Inter", sans-serif !important;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
}
html, body, #root { /* Si tu app React se monta en un div con id="app" (muy común en Laravel) */
  height: 100%;
  margin: 0;
  padding: 0;
}

.App-Container { /* Clase para el div más externo de tu componente App.jsx */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
}

.main-content-wrapper { /* Clase para el div que envuelve el contenido principal variable */
  flex-grow: 1; /* Hace que este elemento crezca y ocupe el espacio restante */
}